<div>
  <h4 id="titulo">Ejercicios</h4>

  <div id="contenedor">
    <mz-collapsible [mode]="'expandable'" [onClose]="closeFunctionCallback" [onOpen]="openFunctionCallback"
      [popout]="true">
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          Temario: Contraseñas seguras
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <ejercicio1></ejercicio1>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>
    <mz-collapsible [mode]="'expandable'" [onClose]="closeFunctionCallback" [onOpen]="openFunctionCallback"
      [popout]="true">
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          Temario: Salud
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>
    <mz-collapsible [mode]="'expandable'" [onClose]="closeFunctionCallback" [onOpen]="openFunctionCallback"
      [popout]="true">
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          Temario: Amenazas online
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>
    <mz-collapsible [mode]="'expandable'" [onClose]="closeFunctionCallback" [onOpen]="openFunctionCallback"
      [popout]="true">
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header>
          Temario: Equipo seguro
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>
  </div>
</div>
