<div>
  <div class="col m6 s12" *ngIf="lessonProgress">
    <h5>Material</h5>
    <!-- <p *ngFor="let leccion of lessonProgress">{{leccion.name}} <i *ngIf="leccion.completed == 1">- Completado</i></p> -->
    <mz-card class="" [horizontal]="true" *ngFor="let leccion of lessonProgress">
      <mz-card-title>{{leccion.name}} <fa-icon *ngIf="leccion.completed == 1" style="color: #4caf50"
          [icon]="faCheckmark"></fa-icon>
      </mz-card-title>
    </mz-card>
  </div>
  <div class="col m6 s12" *ngIf="lessonProgress">
    <h5>Ejercicios</h5>
    <!-- <p *ngFor="let ejercicio of exerciseProgress">{{ejercicio.name}} <i *ngIf="ejercicio.completed == 1">-
        Completado</i>
    </p> -->
    <mz-card class="" [horizontal]="true" *ngFor="let ejercicio of exerciseProgress">
      <mz-card-title>{{ejercicio.name}} <fa-icon *ngIf="ejercicio.completed == 1" style="color: #4caf50"
          [icon]="faCheckmark"></fa-icon>
      </mz-card-title>
    </mz-card>
  </div>
</div>
