<template>
    <div id="chat">
            <ul id="text-chat" class="chat-body" ref="container">
                <li v-for="men in mensajes">
                    <Mensaje :bots="men.bot" :text="men.content"></Mensaje>
                </li>
            </ul>
        <v-row>
            <v-col id="textbox" xl="12" sm="10">
                <v-text-field id="input" v-model="mensaje" @keydown.enter="talk" clearable solo outlined placeholder="Prueba a poner algo" :autofocus="true"></v-text-field>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import Mensaje from "@/components/Mensaje.vue";
    import {Message} from '@/domain/Mensaje.ts';

    export default {
        name: "Chat",
        components: {Mensaje},
        data() {
            return {
                mensaje: ''
            }
        },
        computed: {
            ...mapState(['bot', 'user', 'mensajes'])
        },
        methods: {
            talk() {
                if(this.$data.mensaje !== '') {
                    this.$store.commit('addMessage', new Message(this.mensaje, false));
                    this.$store.dispatch('getResponse', this.$data.mensaje);
                    this.$data.mensaje = '';
                }
            },
            scrollToEnd: function () {
                let content = this.$refs.container;
                content.scrollTop = content.scrollHeight
            }
        },
        updated () {
            this.scrollToEnd();
        },
        mounted () {
            this.scrollToEnd();
        },
        beforeMount() {
            this.$store.dispatch('getResponse', 'Ayuda');
        }
    }
</script>

<style scoped>
    #text-chat {
        padding: 2%;
        list-style: none;
        overflow-y: scroll;
        height: 80vh;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    #textbox {
        position: fixed;
        alignment: center;
        bottom: 0;
        margin: 5px;
    }
</style>
