<template>
    <div id="app">
        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <template v-slot:activator="{ on }">
                <v-btn id="editar" outlined rounded color="deep-purple" dark v-on="on">Editar</v-btn>
                <v-alert v-show="success" text dense type="success">¡Los cambios se han guardado correctamente!</v-alert>
                <v-alert v-show="error" text dense type="error">¡Error al guardar los cambios en tu perfil! Prueba de nuevo más tarde.</v-alert>
                <v-overlay :value="overlay">
                    <v-progress-circular indeterminate size="64"></v-progress-circular>
                </v-overlay>
            </template>
            <v-card>
                <v-toolbar dark color="deep-purple">
                    <v-btn icon dark @click="dialog = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Editar perfil</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark text @click="() => {dialog = false; changeProfileData({username, email, pass1, pass2, file});}">Guardar</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-list three-line subheader>
                    <v-subheader>Información de usuario</v-subheader>
                    <v-list-item>
                        <v-form>
                            <v-text-field label="Correo electrónico" v-model="email"></v-text-field>
                            <v-text-field label="Nombre de usuario" v-model="username"></v-text-field>
                        </v-form>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-list three-line subheader>
                    <v-subheader>Contraseña</v-subheader>
                    <v-list-item>
                        <v-form>
                            <v-text-field label="Nueva contraseña" v-model="pass1"></v-text-field>
                            <v-text-field label="Confirmar contraseña" v-model="pass2"></v-text-field>
                        </v-form>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-list three-line subheader>
                    <v-subheader>Cambiar avatar</v-subheader>
                    <v-list-item>
                        <v-file-input accept=".jpeg,.png,.jpg" show-size v-model="file"></v-file-input>
                    </v-list-item>
                    <v-list-item>
                        <small><strong>¡Archivo máximo de 2MB!</strong></small>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {mapState,mapActions} from 'vuex';

    export default {
        name: "EditProfile",
        data: () => {
            return {
                dialog: false,
                success: false,
                compObj: this,
                email: '',
                username: '',
                pass1: '',
                pass2: '',
                file: null,
                error: false
            }
        },
        computed: {
            ...mapState(['overlay'])
        },
        methods: {
            ...mapActions(['changeData']),
            changeProfileData({username, email, pass1, pass2, file}) {
                this.changeData({username, email, pass1, pass2, file}).then(
                    success => {
                    console.log('Se ha cambiado con éxito');
                    debugger;
                    this.success = true;
                    this.file = null;
                }, failure => {
                    console.log('Fallo al cambiar los datos');
                    debugger;
                    this.error = true;
                    this.file = null;
                })
            }
        },
        watch: {
            // overlay (val) {
            //     val && setTimeout(() => {
            //         this.overlay = false;
            //         this.success = true;
            //     }, 3000)
            // },
        }
    }
</script>

<style scoped>
    #editar {
        margin-bottom: 1rem;
    }

</style>
