<template>
    <div id="ejercicios">
        <h1 class="display-2">Ejercicios</h1>
        <br>
        <template>
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-expansion-panel-header>Ejercicio 1</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <ejercicio1></ejercicio1>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header>Ejercicio 2</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <ejercicio2></ejercicio2>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </template>
    </div>
</template>

<script>
    import Ejercicio1 from "@/components/Ejercicio1";
    import Ejercicio2 from "@/components/Ejercicio2";
    export default {
        name: "Ejercicios",
        components: {Ejercicio1, Ejercicio2}
    }
</script>

<style scoped>

</style>
