<template>
  <div class="home">
    <user-progress></user-progress>
  </div>
</template>

<script>
// @ is an alias to /src
import UserProgress from "./UserProgress";
import Ejercicio1 from "@/components/Ejercicio1";

export default {
  name: 'Home',
  components: {
    Ejercicio1,
    UserProgress
  }
}
</script>
