<template>
    <v-container fluid>
        <v-overlay :value="ongoingRequest">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        <v-container>
            <v-row v-if="error">
                <v-alert border="left" type="error">
                    {{error}}
                </v-alert>
            </v-row>
            <v-row v-if="success">
                <v-alert border="left" type="success">
                    {{success}}
                </v-alert>
            </v-row>
            <v-row>
                <v-col sm="12" md="8">
                    <user-login v-if="registrado"></user-login>
                    <registro v-else></registro>
                </v-col>
                <v-col v-if="!registrado" sm="12" md="4">
                    <h1 class="display-1 mb-3">¿Ya estás registrado?</h1>
                    <v-btn @click="registrado = !registrado" outlined rounded block color="deep-purple">Inicia sesión</v-btn>
                </v-col>
                <v-col v-else sm="12" md="4">
                    <h1 class="display-1 mb-3">¿Aún no estás registrado?</h1>
                    <v-btn @click="registrado = !registrado" outlined rounded block color="deep-purple">Registrate</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </v-container>
</template>

<script>
    import userLogin from "@/components/userLogin";
    import Registro from "@/components/Registro";
    import {mapState} from 'vuex';

    export default {
        name: "Login",
        components: {
            userLogin,
            Registro
        },
        data() {
            return {
                registrado: true,
            }
        },
        computed: {
            ...mapState(['error', 'success', 'ongoingRequest'])
        }
    }
</script>

<style scoped>

</style>
