<template>
    <div id="navbar">
        <v-app-bar dark color="deep-purple">
            <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
            <v-toolbar-title>TFG</v-toolbar-title>
        </v-app-bar>
        <v-navigation-drawer v-model="drawer" absolute temporary>
            <v-list nav dense>
                <h3 class="text-center">TFG</h3>
                <hr>
                <v-list-item-group v-if="user" v-model="group" active-class="deep-purple--text text--accent-4">
                    <v-list-item @click="enlazar(item.name)" v-for="item of items" :key="item.name">
                        <v-list-item-icon>
                            <v-icon>{{item.icon}}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>{{item.name}}</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="logout">
                        <v-list-item-icon>
                            <v-icon>mdi-logout</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Cerrar sesión</v-list-item-title>
                    </v-list-item>
                </v-list-item-group>
                <v-list-item-group v-if="!user">
                    <v-list-item @click="enlazar('Login')">
                        <v-list-item-icon>
                            <v-icon>mdi-login</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Iniciar sesión</v-list-item-title>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import router from '@/router/index';

    export default {
        name: "navbar",
        data: () => ({
            collapse: true,
            drawer: false,
            group: true,
            items: [
                {
                    name: 'Inicio',
                    icon: 'mdi-home'
                },
                {
                    name: 'Perfil',
                    icon: 'mdi-account'
                },
                {
                    name: 'Chat',
                    icon: 'mdi-forum'
                },
                {
                    name: 'Ejercicios',
                    icon: ''
                }
            ]
        }),
        computed: {
            ...mapState(['user'])
        },
        methods: {
            enlazar(link) {
                router.push({name: link});
            },
            ...mapActions(['logout'])
        }
    }
</script>

<style scoped>

</style>
