<template>
    <div class="perfil">
        <v-container>
            <v-row>
                <v-col id="user-info" cols="12" xs="12" sm="12" md="2" lg="2" xl="3">
                    <v-avatar id="avatar" size="25vh">
                        <img :src="'/media/avatars/' + this.user.avatar" alt="Avatar">
                    </v-avatar>
                    <h1>{{user.name}}</h1>
<!--                    <v-btn outlined rounded color="deep-purple">Editar</v-btn>-->
                    <div id="user-details">
                        <ul>
                            <li>Se unió en {{parseDate}}</li>
                        </ul>
                    </div>
                    <v-divider></v-divider>
                    <edit-profile></edit-profile>
                </v-col>
                <v-col cols="12" xs="12" sm="12" md="9" lg="9" xl="9">
                    <user-progress></user-progress>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import UserProgress from "./UserProgress";
    import EditProfile from "./EditProfile";

    export default {
        name: "Perfil",
        components: {EditProfile, UserProgress},
        data: () => {
            return {
                overlay: false
            }
        },
        computed: {
            ...mapState(['user']),
            parseDate() {
                let meses = {
                    0: 'Enero',
                    1: 'Febrero',
                    2: 'Marzo',
                    3: 'Abril',
                    4: 'Mayo',
                    5: 'Junio',
                    6: 'Julio',
                    7: 'Agosto',
                    8: 'Septiembre',
                    9: 'Octubre',
                    10: 'Noviembre',
                    11: 'Diciembre'
                };

                return meses[this.user.joined.getUTCMonth()] + " de " + this.user.joined.getUTCFullYear();
            }
        }
    }
</script>

<style scoped>
    hr,h1 {
        margin: 1rem;
    }
    hr {
        border-top: 1px dotted #8c8b8b;
    }
    #user-info {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    ul {
        list-style: none;
    }
    #user-details {
        font-family: 'Lato', sans-serif;
        --webkit-font-smoothing: antialiased;
        --moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
</style>
