<template>
    <div id="user-progress">
        <v-container>
            <v-row align="center" justify="space-around">
                <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3">
                    <v-card class="mx-auto" max-width="344">
                        <v-card-text>
                            <p class="display-1 text--primary">
                                Lecciones
                            </p>
                            <p class="display-3">
                                <b>{{progreso['les'].length}}</b> de 5
                            </p>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn text color="deep-purple accent-4">
                                ¡Sigue aprendiendo! <v-icon>mdi-arrow-right</v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
                <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3">
                    <v-card class="mx-auto" max-width="344">
                        <v-card-text>
                            <p class="display-1 text--primary">
                                Ejercicios
                            </p>
                            <p class="display-3">
                                <b>{{progreso['exe'].length}}</b> de 3
                            </p>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn text color="deep-purple accent-4">
                                ¡Ponte a prueba! <v-icon>mdi-arrow-right</v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
                <v-col cols="12" xs="12" sm="12" md="3" lg="3" xl="3">
                    <v-card class="mx-auto" max-width="344">
                        <v-card-text>
                            <p class="display-1 text--primary">
                                Logros
                            </p>
                            <p class="display-3">
                                <b>{{progreso['tro'].length}}</b> de 10
                            </p>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn text color="deep-purple accent-4">
                                ¡Presume! <v-icon>mdi-arrow-right</v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
            <v-row>
                <v-tabs color="'purple'" centered grow>
                    <v-tab :href="'#ejercicios'">Ejercicios</v-tab>
                    <v-tab :href="'#lecciones'">Lecciones</v-tab>
                    <v-tab :href="'#trofeos'">Trofeos</v-tab>
                    <v-tab-item :value="'ejercicios'">
                        <v-list shaped>
                            <v-list-item @click="enlazar('Ejercicios')" v-for="ej in progreso['exe']">{{ej.name}}</v-list-item>
                        </v-list>
                    </v-tab-item>
                    <v-tab-item :value="'lecciones'">
                        <v-list shaped>
                            <v-list-item @click="enlazar('Chat')" v-for="le in progreso['les']">{{le.name}}</v-list-item>
                        </v-list>
                    </v-tab-item>
                    <v-tab-item :value="'trofeos'">
                        <v-list shaped>
                            <v-list-item @click="enlazar('Perfil')" v-for="tr in progreso['tro']">{{tr.name}}</v-list-item>
                        </v-list>
                    </v-tab-item>
                </v-tabs>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    export default {
        name: "UserProgress",
        computed: {
            ...mapState(['progreso'])
        },
        methods: {
            enlazar(link) {
                router.push({name: link});
            },
        },
        beforeMount() {
            this.$store.dispatch('getProgress', {});
        }
    }
</script>

<style scoped>

</style>
