<template>
    <div>
        <v-row>
            <v-alert border="left" type="info" dismissible>
                <p><b>Ejercicio 2:</b> Completa el test respondiendo correctamente a las preguntas.</p>
            </v-alert>
            <v-row v-if="error">
                <v-alert border="left" type="error" dismissible>
                    {{error}}
                </v-alert>
            </v-row>
            <v-row v-if="success">
                <v-alert border="left" type="success" dismissible>
                    {{success}}
                </v-alert>
            </v-row>
        </v-row>
        <div v-for="pregunta in form">
            {{pregunta.question}}
            <ul>
                <div v-for="opcion in pregunta.answers">
                    <li>
                        <v-btn text large :color=opcion.color @click="testMethod(pregunta, opcion)">{{opcion.text}}
                        </v-btn>
                    </li>
                </div>
                <li v-if="pregunta.isCorrect" class="v-alert success">¡Genial, has acertado! {{pregunta.explanation}}
                </li>
                <!--                <li v-for="opcion in pregunta.answers"><v-btn text large color="purple" onclick="">{{opcion.text}}</v-btn></li>-->
            </ul>
        </div>
        <v-row>
            <v-col md="12" xl="6">
                <v-btn :disabled="!completed" rounded outlined v-on:click="send()">Completar</v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    export default {
        name: "Ejercicio2",
        data() {
            return {
                message: {
                    text: '',
                    type: 'error'
                },
                form: [
                    {
                        question: '¿Cual de las respuestas es la correcta?',
                        answers: [
                            {
                                color: 'purple',
                                id: 'A',
                                text: 'Si recibes un mensaje de un compañero pidiendo la contraseña de la red de la empresa, nunca deberías dársela a no ser que diga  que es una emergencia.'
                            },
                            {
                                color: 'purple',
                                id: 'B',
                                text: 'Si recibes un mensaje de recursos humanos pidiendo que les mandes información personal de forma inmediata, deberías comprobar si son ellos realmente y para qué la necesitan.'
                            }
                        ],
                        explanation: 'El correo podría ser un intento de phising, haciéndose pasar por integrantes del departamento de recursos humanos. Antes de responder, lo mejor es llamar a recursos humanos y confirmar que ellos han mandado el mensaje.',
                        chosenOption: '',
                        isCorrect: false,
                        correct: 'A'
                    },
                    {
                        question: 'Un correo proveniente de tu jefe pide el nombre, direcciones, y número de cuenta de uno de los clientes de manera urgente. ¿Deberías responder?',
                        answers: [
                            {
                                color: 'purple',
                                id: 'A',
                                text: 'Falso',
                                value: false
                            },
                            {
                                color: 'purple',
                                id: 'B',
                                text: 'Verdadero',
                                value: true
                            }
                        ],
                        explanation: 'Podría ser un intento de phising. Comprueba antes de nada que el correo lo envió realmente tu jefe.',
                        chosenOption: false,
                        isCorrect: false,
                        correct: 'B'
                    },
                    {
                        question: 'Recibes un mensaje de una página para renovar tu contraseña. ¿Qué deberías hacer?',
                        answers: [
                            {
                                color: 'purple',
                                id: 'A',
                                text: 'Responder al correo para confirmar que de verdad neceistar renovar la contraseña.'
                            },
                            {
                                color: 'purple',
                                id: 'B',
                                text: 'Llamar al teléfono de contacto y confirmar que es verdad.'
                            },
                            {
                                color: 'purple',
                                id: 'C',
                                text: 'Hacer click en el enlace.'
                            }
                        ],
                        explanation: 'Antes de hacer click en un enlace, asegurate de que el remitente es legítimo. En caso contrario, hacer click en el enlace podría hacer que se descagase malware o virus.',
                        chosenOption: '',
                        isCorrect: false,
                        correct: 'A'
                    },
                    {
                        question: 'Si eres victima de un ataque de phising, ¿Qué deberias hacer?',
                        answers: [
                            {
                                color: 'purple',
                                id: 'A',
                                text: 'Cambiar todas las contraseñas.',
                            },
                            {
                                color: 'purple',
                                id: 'B',
                                text: 'Apagar el ordenador para limitar el alcance del virus.'
                            }
                        ],
                        explanation: '',
                        chosenOption: '',
                        isCorrect: false,
                        correct: 'A'
                    },
                    // {
                    //     question: '',
                    //     answers: [
                    //         {
                    //             id: 'A',
                    //             text: ''
                    //         }
                    //     ],
                    //     explanation: '',
                    //     chosenOption: '',
                    //     correct: 'A'
                    // },
                ],
                testMethod(pregunta, opcion) {
                    if (pregunta.correct === opcion.id) {
                        pregunta.isCorrect = true;
                        opcion.color = 'success';
                    } else {
                        opcion.color = 'error';
                    }
                }
            }
        },
        computed: {
            completed() {
                let aux = true;

                for (let question of this.form) {
                    aux = aux && question.isCorrect
                }

                return aux;
            },
            ...mapState(['error', 'success'])
        },
        methods: {
            send() {
                this.error = undefined;
                this.success = undefined;
                console.log("¡Conseguido!");
                this.$store.dispatch('completeExercise', {exid: 'phishing'});
                this.$store.dispatch('completeTrophy', {exid: 'ejercicio2'});
            }
        }
    }
</script>

<style scoped>
    ul {
        list-style: none;
    }
</style>
