<template>
    <v-container>
        <v-row>
            <v-alert border="left" type="info" dismissible>
                <p><b>Ejercicio 1:</b> Genera una contraseña que cumpla todos los requisitos para superar el ejercicio.</p>
            </v-alert>
            <v-row v-if="error">
                <v-alert border="left" type="error" dismissible>
                    {{error}}
                </v-alert>
            </v-row>
            <v-row v-if="success">
                <v-alert border="left" type="success" dismissible>
                    {{success}}
                </v-alert>
            </v-row>
        </v-row>
        <v-row>
            <v-col md="12" xl="6">
                <v-text-field v-model="pass" label="Contraseña" type="password"></v-text-field>
                <v-btn :disabled="disabled" rounded outlined v-on:click="send()">Enviar</v-btn>
            </v-col>
            <v-col md="12" xl="6">
                <ul>
                    <li v-for="aviso of validar">{{aviso.text}}</li>
                </ul>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    export default {
        name: "Ejercicio1",
        data: () => {
            return {
                pass: '',
                puntuacion: 0,
                avisos: []
            }
        },
        computed: {
            disabled() {
                return !(this.avisos.length === 0 && this.password !== '');
            },
            validar() {
                let avisos1 = [];

                // Longitud
                if(this.pass.length <= 8) {
                    avisos1.push({text: 'Contraseña demasiado corta (<8 carácteres)'});
                }

                // Mayúsculas
                let mayus = this.pass.length - this.pass.replace(/[A-Z]/g, "").length;
                if (mayus === 0) {
                    avisos1.push({text: 'No existen mayúsculas'});
                }

                // Minúsculas
                let minus = this.pass.length - this.pass.replace(/[a-z]/g, "").length;
                if (minus === 0) {
                    avisos1.push({text: 'No existen minúsculas'});
                }

                // Números
                let num = this.pass.length - this.pass.replace(/[0-9]/g, "").length;
                if (num === 0) {
                    avisos1.push({text: 'No existen números'});
                }

                // Símbolos
                let sim = this.pass.length - this.pass.replace(/\W/g, "").length;
                if (sim === 0) {
                    avisos1.push({text: 'No existen carácteres especiales'});
                }

                this.avisos = avisos1;
                return avisos1;
            },
            puntuarContrasena() {
                let puntuacion = 0;
                if(this.pass === '') return puntuacion;

                let caracteres = {};
                for (let i = 0; i < this.pass.length; i++) {
                    caracteres[this.pass[i]] = (caracteres[this.pass[i]] || 0) + 1;
                    puntuacion += 5.0 / caracteres[this.pass[i]];
                }

                let variaciones = {
                    num: /\d/.test(this.pass),
                    min: /[a-z]/.test(this.pass),
                    may: /[A-Z]/.test(this.pass),
                    sim: /\W/.test(this.pass)
                };

                let usos = 0;
                for(let check in variaciones) {
                    usos += (variaciones[check] === true) ? 1 : 0;
                }

                puntuacion += (usos - 1) * 10;

                return parseInt(puntuacion);
            },
            fuerza() {
                let pass = this.puntuarContrasena();
                if(pass === 0) return 'error';
                if(pass < 10) return 'error';
                if(pass < 20) return 'error';
                if(pass < 30) return 'warning';
                if(pass < 40) return 'warning';
                if(pass < 50) return 'warning';
                if(pass < 60) return 'success';
                if(pass >= 70) return 'success';
            },
            ...mapState(['error', 'success'])
        },
        methods: {
            send() {
                if (this.avisos.length === 0 && this.password !== '') {
                    this.error = undefined;
                    this.success = undefined;
                    console.log("¡Conseguido!");
                    this.$store.dispatch('completeExercise', {exid: 'password'});
                    this.$store.dispatch('completeTrophy', {exid: 'ejercicio1'});
                }
            }
        }
    }
</script>

<style scoped>

</style>
