<template>
    <div>
        <v-row v-if="bots">
            <v-col sm="12" md="6" lg="4" xl="4">
                <v-card outlined :elevation="2" class="bot-card">
                    <v-list-item three-line>
                        <v-list-item-content>
                            <div class="name mb-2"><i>AI</i></div>
                            <v-list-item class="text">{{this.text}}</v-list-item>
                        </v-list-item-content>
                    </v-list-item>
                </v-card>
            </v-col>
        </v-row>
        <v-row v-if="!bots">
            <v-col offset-md="6" offset-lg="8" sm="12" md="6" lg="4" xl="4">
                <v-card outlined color="" :elevation="2">
                    <v-list-item three-line>
                        <v-list-item-content>
                            <div class="name mb-2">{{user.name}}</div>
                            <v-list-item class="text">{{this.text}}</v-list-item>
                        </v-list-item-content>
                    </v-list-item>
                </v-card>
            </v-col>
        </v-row>
    </div>
    
</template>

<script>
    import {User} from "../domain/user";
    import {mapState} from "vuex";

    export default {
        name: "Mensaje",
        props: {
            bots: Boolean,
            text: String
        },
        computed: {
            ...mapState(['bot', 'user'])
        }
    }
</script>

<style scoped>
    .text {
        font-family: 'Roboto', sans-serif;
    }
    .name {
        font-size: 1.75rem;
        font-family: 'Lato', sans-serif;
    }
</style>
