<template>
    <div>
        <h1 class="display-1">Registrarse</h1>
        <v-form ref="form" v-model="valid" :lazy-validation="true">
            <v-text-field placeholder="Tu nombre de usuario" v-model="username"></v-text-field>
            <v-text-field placeholder="Tu correo electrónico" v-model="email"></v-text-field>
            <v-text-field type="password" placeholder="Tu contraseña" v-model="password"></v-text-field>
            <v-text-field type="password" placeholder="Confirma tu contraseña" v-model="password2"></v-text-field>
            <v-btn @click="register({username: username, email: email, pass1: password, pass2: password2})" rounded outlined color="deep-purple">Registrarse</v-btn>
        </v-form>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: "Registro",
        data() {
            return {
                username: '',
                email: '',
                password: '',
                password2: '',
                valid: true
            }
        },
        methods: {
            ...mapActions(['register'])
        }
    }
</script>

<style scoped>

</style>
