<template>
    <div>
        <h1 class="display-1">Iniciar sesión</h1>
        <v-form ref="form" v-model="valid" :lazy-validation="true">
            <v-text-field placeholder="Tu correo electrónico" v-model="email"></v-text-field>
            <v-text-field type="password" placeholder="Tu contraseña" v-model="password"></v-text-field>
            <v-btn @click="login({email: email, password: password})" rounded outlined color="deep-purple">Iniciar sesión</v-btn>
        </v-form>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        name: "userLogin",
        data() {
            return {
                email: '',
                password: '',
                valid: true
            }
        },
        computed: {},
        methods: {
            ...mapActions(['login'])
        }
    }
</script>

<style scoped>

</style>
