<div id="text-chat" class="chat_body">
  <div id="message_row" class="messages">
    <div class="row" *ngFor="let texto of mensajes; let last = last">
      <app-message-component [mensaje]="texto"></app-message-component>
    </div>
  </div>
  <div class="row">
    <div class="col m12 s12 x12">
      <input (keyup.enter)="talk()" class="form-control" [(ngModel)]="mensaje" name="chat" type="text"
        placeholder="Hola, ¿Qué tal?">
    </div>
    <div class="col m1 s1 x0">
    </div>
  </div>
</div>
