<template>
  <v-app id="app">
    <navbar></navbar>
    <router-view></router-view>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Navbar from './views/navbar.vue';

export default Vue.extend({
  name: 'App',
  components: {
    Navbar
  }
});
</script>

<style>
#app {
  /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*text-align: center;*/
  /*color: #2c3e50;*/
  /*margin-top: 60px;*/
}
</style>
